body{
    background-color: rgb(0, 217, 255);
}


#webcam{
    width:350px;
    height:300px;
    
    animation-name: webcam;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes webcam {
    from{background-color: white;}
    to{background-color:black;}
}
